@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
  font-size: 50px;
  margin-top: 10px;
  font-weight: normal;
}

#space {
  margin-top: 30px;
}

.input {
  font-size: 25px;
  background-color: rgba(193, 217, 46, 0.57);
  margin: 5px;
  margin-top: 20px;
  margin-bottom: -10px;
  padding: 10px;
  padding-left: 15px;
  border-radius: 20px;
  border: 1px solid rgba(72, 78, 16, 1);
}

button {
  font-size: 30px;
  background-color: white;
  padding: 5px;
  width: 150px;
  border-radius: 20px;
  border: 3px solid #B3C92A;
}

.gradientButton {
  background-image: linear-gradient(to right, rgba(137, 217, 46, 1), rgba(193, 217, 46, 1));
  border: 3px solid grey;
}

option {
  font-size: 15px;
  background-color: rgba(193, 217, 46, 0.57);
}

.questionArea {
  background-color:  rgba(193, 217, 46, 0.57);
  border: 1px solid rgba(72, 78, 16, 1);
  border-radius: 20px;
}

.map-container {
  width: 100vw;
  height: 100vh;
}

hr {
  background-color: rgba(193, 217, 46, 0.57);
  margin-left: 20px;
  margin-right: 20px;
}

.sideBySide {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 10px;
}

#main {
  width: 100vw;
}

#friends img {
  width: 60px;
  height: 60px;
  margin: 7px;
  border-radius: 50%;
}

.bold {
  font-weight: bold;
}