/*HEADER*/
#logo {
  height: 125px;
  padding-bottom: 3px;
  border-bottom: 4px solid black;
}

/*FOOTER*/
#footer {
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  /* Warum funktioniert space-between nicht richtig?? */
  padding-top: 5px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 2px 2px 10px 10px white;
  background-color: rgba(193, 217, 46, 0.57);
}

#plus {
  background-color: rgba(193, 217, 46, 1);
  border: 1px solid gray;
}
