#greenW {
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(137, 217, 46, 1), rgba(193, 217, 46, 1));
    padding-bottom: 450px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.description {
    font-size: 25px;
    margin-top: -20px;
}